@media screen and (min-width: 568px) and (max-width: 568px) and (orientation: landscape) {
  .container-formulaire {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 667px) {
  /* Header */

  .cart span {
    font-weight: 600;
    position: relative;
    border-radius: 10px;
    background: white;
    padding: 4px;
    margin-left: 10px;
    transform: translateY(-20px);
    background: red;
  }

  /* Product */

  .row-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* Assurance */

  .row-assurance {
    display: flex;
    flex-direction: row;
  }

  /* Footer */

  .row-footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .about,
  .legal,
  .guide,
  .newsletter {
    margin-top: 70px;
  }

  /* Cart */

  .container-cart {
    overflow: hidden;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .identity {
    transform: translateX(310px);
  }
  .champs {
      transform: translateX(310px);
  }

}
